APP_NAME=laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
ASSET_URL="${APP_URL}"
FILAMENT_ASSETS_PATH="${APP_URL}"
APP_DOMAIN=localhost
FLOCI_DOMAIN=localhost

PHP_VERSION=8.5
POSTGRES_VERSION=18.4-alpine3.23
POSTGRES_DB=ecom
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432
PHP_FPM_PORT=9000
PROJECT_PATH=.

# Resource Limits
POSTGRES_CPUS=1
POSTGRES_MEMORY_LIMIT=512MB
PHP_CPUS=1
PHP_MEMORY_LIMIT=512MB
FLOCI_CPUS=1
FLOCI_MEMORY_LIMIT=512MB
FLOCI_API_CPUS=1
FLOCI_API_MEMORY_LIMIT=512MB
FLOCI_UI_CPUS=1
FLOCI_UI_MEMORY_LIMIT=512MB

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database - Connect to Floci RDS
DB_CONNECTION=pgsql
DB_HOST="${APP_NAME}-floci"
DB_PORT=7003
DB_DATABASE=ecom
DB_USERNAME=postgres
DB_PASSWORD=secret

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=s3

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="info@${APP_URL}"
MAIL_FROM_NAME="${APP_NAME}"

# Floci Configuration
FLOCI_PORT=4566
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_BUCKET=ecom-bucket
AWS_URL="${APP_URL}/s3/ecom-bucket"
AWS_ENDPOINT="${APP_URL}/s3"
AWS_USE_PATH_STYLE_ENDPOINT=true

# SQS Configuration
QUEUE_CONNECTION=sqs
SQS_ENDPOINT=http://${APP_NAME}-floci:4566
SQS_PREFIX=${SQS_ENDPOINT}/laravel
SQS_QUEUE=default

# RDS Configuration
RDS_INSTANCE_IDENTIFIER="${APP_NAME}-db"
RDS_ENGINE="${POSTGRES_USER}"
RDS_ENGINE_VERSION=16.3
RDS_ALLOCATED_STORAGE=20
RDS_BACKUP_RETENTION=7

VITE_APP_NAME="${APP_NAME}"